name: Build docs

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: 'docs/package-lock.json'

      - name: Build docs
        run: export NODE_OPTIONS=--openssl-legacy-provider && cd docs && npm install && npm run build
